#my.cnf
# a commen my.cnf file used to initialize and start mysql-server. 
[client]
port            = {{ MYSQL_PORT }}
socket          = /tmp/mysql{{ MYSQL_PORT }}.sock

[mysql]
prompt="\\u@\\h [\\d]>" 
#pager="less -i -n -S"
#tee=/opt/mysql/query.log
no-auto-rehash

[mysqld]
#misc
user = mysql
basedir = /usr/local/mysql57
datadir = /data/mysql/mysql{{ MYSQL_PORT }}/data
port = {{ MYSQL_PORT }}
socket = /tmp/mysql{{ MYSQL_PORT }}.sock
event_scheduler = 0

tmpdir = /data/mysql/mysql{{ MYSQL_PORT }}/tmp
#timeout
interactive_timeout = 300
wait_timeout = 300
skip_name_resolve  =1
#character set
character-set-server = utf8

open_files_limit = 65535
max_connections = 100
max_connect_errors = 100000
#lower_case_table_names =1
#logs
log-output=file
slow_query_log = 1
slow_query_log_file = slow.log
log-error = error.log
log_warnings = 2
pid-file = mysql.pid
long_query_time = 1
#log-slow-admin-statements = 1
#log-queries-not-using-indexes = 1
log-slow-slave-statements = 1

#binlog
binlog_format = row
server-id = {{ MYSQL_PORT }}
log-bin = /data/mysql/mysql{{ MYSQL_PORT }}/logs/mysql-bin
binlog_cache_size = 4M
max_binlog_size = 1G
max_binlog_cache_size = 128M
sync_binlog = 0
expire_logs_days = 10
#procedure 
log_bin_trust_function_creators=1

#for MGR
binlog_checksum         =NONE
enforce_gtid_consistency=ON
gtid_mode                =ON
master_info_repository  = TABLE
relay_log_info_repository= TABLE
transaction_write_set_extraction = XXHASH64

#for replication
slave_parallel_type    =LOGICAL_CLOCK
slave_parallel_workers =4    
binlog_transaction_dependency_history_size = 25000
binlog_transaction_dependency_tracking =WRITESET
rpl_semi_sync_slave_enabled  =1
rpl_semi_sync_master_enabled =1
#relay log
skip_slave_start = 1
max_relay_log_size = 128M
relay_log_purge = 1
relay_log_recovery = 1
relay-log=relay-bin
relay-log-index=relay-bin.index
log_slave_updates=1

#buffers & cache
table_open_cache = 2048
table_definition_cache = 2048
table_open_cache = 2048
max_heap_table_size = 96M
sort_buffer_size = 128K
join_buffer_size = 128K
thread_cache_size = 200
query_cache_size = 0
query_cache_type = 0
query_cache_limit = 256K
query_cache_min_res_unit = 512
thread_stack = 192K
tmp_table_size = 96M
key_buffer_size = 8M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
bulk_insert_buffer_size = 32M

#myisam
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1

#innodb
innodb_buffer_pool_size = 200M
innodb_buffer_pool_instances = 1
innodb_data_file_path = ibdata1:100M:autoextend
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 8M
innodb_log_file_size = 100M
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 50
innodb_file_per_table = 1
innodb_rollback_on_timeout
innodb_status_file = 1
innodb_io_capacity = 2000
transaction_isolation = READ-COMMITTED
innodb_flush_method = O_DIRECT
